# Bỏ qua môi trường ảo
venv/
env/

# Bỏ qua rác của Python (cache files)
__pycache__/
*.py[cod]
*$py.class
*.so

# Bỏ qua file cấu hình biến môi trường
.env

# Bỏ qua rác của các IDE (Visual Studio Code, PyCharm)
.vscode/
.idea/

# Bỏ qua rác của thư viện test (nếu sau này dùng pytest)
.pytest_cache/
htmlcov/