# Skip the virtual environment
venv/
env/

# Skip cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Skip environment configuration files
.env

# Skip IDE cache files (Visual Studio Code, PyCharm)
.vscode/
.idea/

# Skip test library cache (if using pytest)
.pytest_cache/
htmlcov/

.cache/
cache/